/* GLOBAL STYLES */
/*body {
    background: #333;
    padding-top: 5em;
    display: flex;
    justify-content: center;
  }
  */
/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: black;
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* Label for the contact method selection */
label[for="contact"] {
  font-weight: bold;
  margin-right: 10px;
}

/* Contact method selection dropdown */
#contact {
  padding: 8px;
  border: 2px solid #f9ca24;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
  background-color: #111;
  color: white;
}

/* Submit button */
input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f9ca24;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #e4b416;
}

/* Name input field */
label[for="name"] {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input#name {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Preferred language radio buttons */
fieldset {
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

/* Message textarea */
label[for="comments"] {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

textarea#comments {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Favorite color input */
label[for="favoriteColor"] {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input#favoriteColor {
  width: 100%;
  padding: 8px;
}

/* Email link */
a[href^="mailto:"] {
  color: #f9ca24;
  text-decoration: none;
}

a[href^="mailto:"]:hover {
  text-decoration: underline;
}

/* LinkedIn link */
a[href^="https://de.linkedin.com/in/"] {
  color: #f9ca24;
  text-decoration: none;
}

a[href^="https://de.linkedin.com/in/"]:hover {
  text-decoration: underline;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";
}

/* .container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #111;
  flex-direction: column;
  flex: 1;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }

  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }

  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }

  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }

  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }

  .timeline-content .date {
    position: absolute;
    top: -30px;
  }

  .timeline ul li:hover::before {
    background-color: aqua;
  }
} */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Transparent black background */
  backdrop-filter: blur(10px);
  /* Add blur effect for transparency (adjust as needed) */
  padding: 10px 0;
  z-index: 9999;
  /* Ensure the navbar appears above other content */
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.navbar-menu li a:hover {
  color: #f9ca24;
  /* Change color on hover */
}

/* Footer styles */
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* Transparent black background */
  backdrop-filter: blur(10px);
  /* Add blur effect for transparency (adjust as needed) */
  text-align: center;
  color: white;
  z-index: 9999;
  /* Ensure the footer appears above other content */
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* Make the body a column flex container */
  min-height: 100vh;
}

/* Padding for main content area to avoid overlap */
main {
  padding-top: 80px;
  /* Adjust this value to provide space for the fixed navbar */
  padding-bottom: 60px;
  /* Adjust this value to provide space for the fixed footer */
  flex: 1;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: center;
  color: white;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  position: relative;
}

.navbar-menu li a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f9ca24;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.navbar-menu li a:hover::after {
  transform: scaleX(1);
}

.footer {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  text-align: center;
  color: white;
}

main {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

/* ... Existing CSS styles ... */

/* Education Table Styles */

table.education-table {
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  border-collapse: collapse;
  background-color: #f1f4fb;
  color: #2c3e50;
}

table.education-table th,
table.education-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table.education-table th {
  background-color: #1c3faa;
  font-weight: bold;
  color: #fff;
}

table.education-table tr:hover {
  background-color: #e3e8f4;
  cursor: pointer;
}

table.education-table td:last-child {
  text-align: center;
}

/* ... Existing CSS styles ... */

/* Work Experience List Styles */

ul.work-experience-list {
  list-style: none;
  margin: 40px auto;
  max-width: 800px;
}

ul.work-experience-list li {
  padding: 20px;
  background-color: #111;
  color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 20px;
}

ul.work-experience-list h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

ul.work-experience-list p {
  font-size: 16px;
  margin-bottom: 8px;
}

ul.work-experience-list ul {
  list-style: disc;
  margin-left: 20px;
}

ul.work-experience-list li ul li {
  list-style-type: disc;
}

ul.work-experience-list li:hover {
  background-color: #1c3faa;
  cursor: pointer;
}

/* Portfolio Section Styles */
#portfolio {
  background-color: #f1f4fb;
  padding: 40px;
  margin: 40px auto;
  max-width: 800px;
  border-radius: 10px;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.project img {
  margin-right: 12px;
}

.project-info {
  flex: 1;
}

.project-info h3 {
  font-size: 24px;
  margin-bottom: 8px;
  color: #1c3faa;
}

.project-info p {
  font-size: 16px;
  margin-bottom: 16px;
  color: #2c3e50;
}

.project-info button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1c3faa;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.project-info button:hover {
  background-color: #0d255d;
}

.project-info button:last-child {
  background-color: blue;
}

.project-info button:last-child:hover {
  background-color: #1c3faa;
}

/* GLOBAL STYLES */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f1f4fb;
  color: #333;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER STYLES */
.navbar {
  background-color: #1c3faa;
  padding: 10px 0;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  position: relative;
}

.navbar-menu li a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f9ca24;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.navbar-menu li a:hover::after {
  transform: scaleX(1);
}

/* FOOTER STYLES */
.footer {
  padding: 10px 0;
  background-color: #1c3faa;
  color: white;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* MAIN CONTENT STYLES */
main {
  padding-top: 60px;
  /* Adjust this value to provide space for the fixed navbar */
  padding-bottom: 60px;
  /* Adjust this value to provide space for the fixed footer */
  flex: 1;
}

/* Add styling for the rest of the page elements as needed */
/* ... */

/* Timeline Styles */
.timeline ul li {
  background-color: white;
  color: #333;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.timeline ul li h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.timeline ul li p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Portfolio Section Styles */
#portfolio {
  background-color: #fff;
  padding: 40px;
  margin: 40px auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.project {
  margin-bottom: 20px;
}

.project img {
  margin-right: 12px;
}

.project-info h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #1c3faa;
}

.project-info p {
  font-size: 16px;
  margin-bottom: 12px;
  color: #333;
}

.project-info button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1c3faa;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.project-info button:hover {
  background-color: #0d255d;
}

.project-info button:last-child {
  background-color: blue;
}

.project-info button:last-child:hover {
  background-color: #1c3faa;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  /* Light background color */
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container:nth-child(1) {
  animation-delay: 0s;
}

.container:nth-child(2) {
  animation-delay: 1s;
}

.container:nth-child(3) {
  animation-delay: 2s;
}

.container:nth-child(4) {
  animation-delay: 3s;
}

.container:nth-child(5) {
  animation-delay: 4s;
}

.container:nth-child(6) {
  animation-delay: 5s;
}

.text-box {
  padding: 20px 30px;
  background: #2e364a;
  /* Dark background color */
  position: relative;
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
  /* Light font color */
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.right-container img {
  left: -20px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #2e364a;
  /* Dark color for the line */
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #2e364a;
  /* Dark color for the arrow */
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #2e364a;
  /* Dark color for the arrow */
  left: -15px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box {
    font-size: 13px;
  }

  .text-box small {
    margin-bottom: 10px;
  }

  .right-container {
    left: 0;
  }

  .left-container img,
  right-container img {
    left: 10px;
  }

  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #2e364a;
    /* Dark color for the arrow */
    border-left: 0;
    left: -15px;
  }
}

body {
  margin: 0;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

/* .title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;;
} */

/* section {
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
} */